body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.banner {
    background-color: #007bff; /* Cambia este color al que desees */
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

.search-filter {
    margin-bottom: 2rem;
}

.product-card {
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.category-title {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn {
    margin-top: 1rem;
}
